form {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid gray;
  background-color: white;
}

.form-container {
  display: flex;
  flex-direction: column;

  & > :not(:last-child) {
    margin-bottom: 10px;
  }
}

button {
  width: 200px;
  margin: 0 auto;
}

input.ng-invalid.ng-dirty {
  border-color: red;
}
