<div appHighlighted class="top-menu">
  <img
    class="logo"
    src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png"
  />
</div>
<ng-template [ngIf]="courses[0]"let-course>
<div class="courses">
  <course-card
    appHighlighted
    #highlighter="hl"
    (toggleHighlight)="onToggle($event)"
    (courseSelected)="onCourseSelected($event)"
    [course]="course"
    (click)="isLight = !isLight"
  >
    <course-image [src]="course.iconUrl" *ngxUnless="!course.iconUrl"></course-image>

    <div class="course-description" (dblclick)="highlighter.toggle()">
      {{ course.longDescription }}
    </div>
  </course-card>

  <form>
    <input [disabled]="true" required />
  </form>
</div>
</ng-template>
